sentencepiece==0.2.0
safetensors==0.4.4
biopython==1.85
Flask==3.0.3
Flask-Cors==4.0.1
requests==2.31.0
transformers==4.44.2
torch>=2.5.0
sentence-transformers==2.7.0
scikit-learn==1.5.1
nltk==3.9.1
python-dotenv==1.0.1
